@import url(reset.css);

:root {
  --clr-primary: hsl(4 100% 67%);
  --clr-neutral-blue-800: hsl(234 29% 20%);
  --clr-neutral-Blue-700: hsl(235 18% 26%);
  --clr-neutral-Grey: hsl(0 0%58%);
  --clr-neutral-White: hsl(0 0% 100%);

  --fs-paragraph: 16px;
  --fw-400: 400;
  --fw-700: 700;
}

html {
  background-color: var(--clr-neutral-White);
  font-size: var(--fs-paragraph);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
}

.grid__main {
  grid-row-start: 2;
  grid-row-end: 4;

  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1.5rem;
}

.grid__sidebar {
  grid-row-start: 1;
  grid-row-end: 2;
}

.attribution {
  display: none;
}
